body {
    background-image: url("flowers.gif");
    background-size: 1500px 700px;
}

body, html{
    height: 100%
}

.jumbotron-fluid {
    background: #ffffff;
 }

 .jumbotron-fluid .navbar {
     background: #0F81E8
 }

 .container {
    padding: 110px 0;
 }

 .custome-input {
     
 }

 h1 {
    color: #17292E;
    text-align: center;
    font-family: 'Shrikhand', cursive;
 }

 aside {
    color: #17292E;
    text-align: center;
    font-family: 'Raleway', sans-serif;
 }
 
 footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #0F81E8;
 }
 
 /* footer p {
     margin: 0;
 } */

 footer .navbar {
     padding: 0 1rem;
 }
/* 
 footer{
     position: absolute;
     bottom: 0;
 } */
/* 
 .hosted-by {
    margin-left: 140px;
    margin-bottom: 10px;
 }

 .contact {
     margin-right: 500px;

 /* }